body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #f0f0f0;
}

#canvasWrapper {
  position: relative;
  max-width: 100%;
  max-height: 80vh; /* Leave some space for the button */
}

/* Set the width and height of the canvas */
#imageCanvas {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

#drawCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

button {
  margin: 10px;
}
